{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="container">
    <form class="form_login" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        

        <h2><strong>Conecté vous s'il vous plait</strong></h2>
        <label for="inputEmail"><strong>Email:</strong></label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
        <label for="inputPassword"><strong>Password:</strong></label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        <div class="checkbox mb-3">
            <label for="_remember_me">
                <input type="checkbox" name="_remember_me" >Se souvenir de moi
            </label>
        </div>
        <input type="hidden" id="recaptchaResponse" name="recaptcha-response">
        <button class="btn btn-primary mx-auto d-block" type="submit">
            Connexion
        </button>
        <a href="{{ path('app_forgot_password_request')}}"><strong>Mot de passe oublier</strong></a>
    </form>
</div>
<script src="https://www.google.com/recaptcha/api.js?render=6Lcml0IpAAAAAJkuPOA5ZoQBIN8Fw24UPUwnBKh-"></script>
<script>
grecaptcha.ready(function() {
    grecaptcha.execute('6Lcml0IpAAAAAJkuPOA5ZoQBIN8Fw24UPUwnBKh-', {action: 'login'}).then(function(token) {
        document.getElementById('recaptchaResponse').value = token
    });
});
</script>
{% endblock %}
