<h1>Bonjour! Confirmer votre Email</h1>

<p>
    S'il vous plait confirmer votre email en cliquant sur se lien: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
