{% extends 'base.html.twig' %}

{% block title %}Email de rénitialisation de mot de passe{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre adresse e-mail existe, alors un e-mail vient d'être envoyé. Cet e-mail contient un lien que vous pouvez utiliser pour réinitialiser votre mot de passe. Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>
       
        Si vous n'avez pas reçu l'email veuillez s'il vous plait vérifier votre boite de spam ou <a href="{{ path('app_forgot_password_request') }}">renvoyé</a>.
    </p>
{% endblock %}
