{% extends 'base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>
    <ul>
        {% for theme in themes %}
        <h2>{{ theme.label }}</h2>
        <a href="{{path('new_category',{'idTheme': theme.id})}}">Ajouter une nouvelle catégories</a> 
            {% for category in theme.categories %}
                
            
               
                <li>
                    {{ category.label }}  <a href="{{path('edit_category',{'id': category.id})}}">Modifier</a>
                </li>
            {% endfor %} 
        {% endfor %}
    </ul>
{% endblock %}
