{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% for quiz in quizes %}
    <li>{{ quiz.title }} <br>Nb question:{{ quiz.questions|length}} est vérifié</li>
{% endfor %}
    
   
{% endblock %}
