{% extends 'base.html.twig' %}

{% block title %}Panel Moderator!{% endblock %}

{% block body %}
    <p> Bienvenue {{ app.user.username }}</p>
    <li>
        {# route vers la liste des quiz  #}
        <a href="{{path('app_list_quiz')}}">Liste Quiz</a>
    </li>

    <li>
        {# lien vers la liste des catégorie  #}
        <a href="{{path('app_list_categories')}}">Liste des Categories</a>
    </li>
{% endblock %}
