{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
{% set labelLevel = "" %} {# déclaration d'une varibale pour les différentes section des level  #}
{% set id = 1 %} {# déclaration d'une variable nb pour le nom des class des level #}

<div class="containe">
    <div id="hero">
        <article class="hero-text">
            <h1>Quiz Quest</h1>
                <p>
                    Bienvenue sur Quiz Quest, vous trouverez ici des différent type quiz qui vous 
                    permettant de vous détendre, avec nos quiz de la catégorie Drôle,
                    apprendre avec nos quiz de culture générale,
                    ou simplement être le meilleur pour voir votre pseudo tous en haut du classement
                    
                </p>
        </article>
    </div>
    
    <section id="list-theme">
        {% for theme in allTheme %}
            <h2>{{ theme.label }}</h2>
            {% for category in theme.categories %}
            <h3>{{ category }}</h3>
                <section id="{{id}}" class="category_home">

                   

                                    {% for quiz in category.quizzes %}

                                        <section class="quiz_home_card">

                                            <article  class="card_info">

                                                {{ quiz.title }}
                                           
                                            </article>

                                        </section>
                                       
                                    {% endfor %}
                                  
                            </div>
                                <a class="prev" onclick="plusSlides(-1)">❮</a>
                                <a class="next" onclick="plusSlides(1)">❯</a>
                            </div>

                   



                </section>  
               {%  set id = id + 1 %}
            {% endfor %}
        {% endfor %}
    </section>
</div>

    
{% endblock %}


   
     
    
    
    
    