{% extends 'base.html.twig' %}

{% block title %}Hello QuizController!{% endblock %}

{% block body %}
{% set labelLevel = "" %} {# déclaration d'une varibale pour les différentes section des level  #}
{% set nb = 1 %} {# déclaration d'une variable nb pour le nom des class des level #}

<div class="container">
    <div id="hero">
        <article class="hero-text">
            <h1>Quiz Quest</h1>
                <p>
                    Bienvenue sur Quiz Quest, vous trouverez ici des différent type quiz qui vous 
                    permettant de vous détendre, avec nos quiz de la catégorie Drôle,
                    apprendre avec nos quiz de culture générale,
                    ou simplement être le meilleur pour voir votre pseudo tous en haut du classement
                    
                </p>
        </article>
    </div>

    <section id="list-theme">
        {% for theme in allTheme %}
            <h2>{{ theme.label }}</h2>
            {% for category in theme.categories %}
                <!-- Slider main container -->
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% for quiz in category.quizzes %}
                            <div class="swiper-slide">
                                <section class="slide-quiz">{{ quiz.title }}</section>
                            </div>
                        {% endfor %}
                    </div>
                    
                    <!-- Navigation buttons inside the swiper-container -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                    <!-- Pagination -->
                    <div class="swiper-pagination"></div>
                    <!-- Scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            {% endfor %}
        {% endfor %}
    </section>
</div>

    
{% endblock %}
