@media (max-width:580px){
    #menuBtn{
        display: block;
    }
    .box{
        height: auto;
    }
    #nav{
        flex-direction: column;
        justify-content: center;
        border: none;
        position: relative;
        padding-top: 1em;
        width: 50%;
    }
    .show-menu {
        position: absolute;
        top: 150%;
        width: 300px;
        background-image: url(../img/pexels-aleksandar-pasaric-1323712.jpg);
        background-size: cover;
        padding: 1em 0;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px #666 inset;
    }

    .lien_nav {
      
    display: block;
    width: 300px;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    border-right: none;
    text-align: center;
    }
    #searchInput {
        width: 250px;
      
    }
    .nav_base{
        display: none;  
    }
    .show-menu {
        display: block;
    }

    #hero{
        width: 98%;
        padding: 0.5em;
    }
    .hero-text p {
        font-size: 3em;
    }
    .hero-text h2 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 2em;
    }

    .nav_category {
        width: 95%;
        flex-wrap: wrap;
        padding: 2em 2em;
        gap: 5em;
    }

    .fig_category_nav {
            height: 80px;
            width: 80px;
            margin-bottom: 2em;
    }

    .fig_caption_category {
        font-size: 1.8em;
    }
    .article_home{
        width: 98%;
        padding: 1em;
    }
    .h2_home{
        font-size: 2em;
    }
    .section-slide{
        display: block;
    }
    .swiper{
        width: 280px;
    }
    .box_quiz{
        margin: auto;
        width: 95%;
    }
    .title-category{
       font-size: 2em;
    }
    .info {
        flex-direction: column-reverse;
    }
    .show_info {
        width: 100%;
        flex-direction: column-reverse;
    }
    .info p{   
        font-size: 2em;
    }
    .link_register{
        font-size: 2em;
    }
    .list_score{
        padding: 0.5em 0em;
    }
    .footer {
        
        flex-direction: column;
        
    }
    
}