

@media all and (min-width: 1024px) and (max-width: 1280px) { }
 
@media all and (min-width: 768px) and (max-width: 1024px) { }
 
@media all and (min-width: 480px) and (max-width: 768px) { 
    #menuBtn{
        display: block;
    }
    .box{
       
        height: auto;
    }
    #nav{
        flex-direction: column;
        justify-content: center;
        border: none;
        position: relative;
        padding-top: 1em;
        width: 50%;
    }
    .show-menu {
        position: absolute;
        top: 150%;
        width: 300px;
        background-image: url(../img/pexels-aleksandar-pasaric-1323712.jpg);
        background-size: cover;
        padding: 1em 0;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px #666 inset;
    }

    .lien_nav {
      
    display: block;
    width: 300px;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    border-right: none;
    text-align: center;
    }
    #searchInput {
        width: 250px;
      
    }
    .nav_base{
        display: none;  
    }
    .show-menu {
        display: block;
    }


    #home_article_info{
        width: 98%;
        padding: 0.5em;
    }

    .home_text_info h2 {
        font-size: 2em;
    }

    .home_text_info p {
        font-size: 2em;
    }

    .nav_category {
        width: 95%;
        flex-wrap: wrap;
        padding: 2em 2em;
        gap: 5em;
    }

    .fig_category_nav {
            height: 80px;
            width: 80px;
            margin-bottom: 2em;
    }

    .fig_caption_category {
        font-size: 1.8em;
    }
    .article_home{
        width: 98%;
        padding: 1em;
    }
    .h2_home{
        font-size: 2em;
    }
    .section-slide{
        display: block;
    }
    .swiper{
        width: 250px;
    }
    .box_quiz{
        margin: auto;
        width: 95%;
    }
    .title-category{
       font-size: 2em;
    }
    .info {
        flex-direction: column-reverse;
    }
    .show_info {
        width: 100%;
        flex-direction: column-reverse;
    }
    .info p{   
        font-size: 2em;
    }
    .link_register{
        font-size: 2em;
    }
    .list_score{
        padding: 0.5em 0em;
    }
    .ul_footer{
        display: flex;
        gap: 1em;
        list-style: none;
    }
    .footer {
        
        flex-direction: column;
        
    }
}
 
@media all and (max-width: 480px) {
    #menuBtn{
        display: block;
    }
    .box{
        width: 320px;
        height: auto;
    }
    #nav{
        flex-direction: column;
        justify-content: center;
        border: none;
        position: relative;
        padding-top: 1em;
        width: 50%;
    }
    .show-menu {
        position: absolute;
        top: 150%;
        width: 300px;
        background-image: url(../img/pexels-aleksandar-pasaric-1323712.jpg);
        background-size: cover;
        padding: 1em 0;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px #666 inset;
    }

    .lien_nav {  
        display: block;
        width: 300px;
        text-decoration: none;
        font-size: 1.8em;
        font-weight: 700;
        border-right: none;
        text-align: center;
    }
    #searchInput {
        width: 250px;
      
    }
    .nav_base{
        display: none;  
    }
    .show-menu {
        display: block;
    }

    #home_article_info{
        width: 98%;
        padding: 0.5em;
    }

    .home_text_info h2 {
        font-size: 2em;
    }

    .home_text_info p {
        font-size: 2em;
    }

    .nav_category {
        width: 95%;
        flex-wrap: wrap;
        padding: 2em 2em;
        gap: 5em;
    }

    .fig_category_nav {
            height: 80px;
            width: 80px;
            margin-bottom: 2em;
    }

    .fig_caption_category {
        font-size: 1.8em;
    }
    .article_home{
        width: 98%;
        padding: 1em;
    }
    
    .h2_home{
        font-size: 2em;
    }
   
    .swiper{
        width: 250px;
    }
    .box_quiz{
        margin: auto;
        width: 95%;
    }
    .title-category{
       font-size: 2em;
    }
    .info {
        flex-direction: column-reverse;
    }
    .show_info {
        width: 100%;
        flex-direction: column-reverse;
    }
    .show_info ol {
        list-style: none;
        padding-left: 0;
    }
    .info p{   
        font-size: 2em;
    }
    .link_register{
        font-size: 2em;
    }
    .list_score{
        padding: 0.5em 0em;
    }
    .span_score {
        padding-left: 1.5em;
    }
    /*************footer**************/
    footer{
        width: 95%;
        height: auto;
        padding: 0;
    }
    
    .contact, .partenaire, .reseau-sociaux {
        padding: 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .reseau-sociaux li {
        padding: 1em;
        margin: auto;
        font-size: 1.5em;
    }
    .contact li{
        margin: auto;
    }
    .title_footer {   
        font-size: 1.8em;   
    }

    .ul_footer{
        padding: 0;
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
    }
    .footer {  
        flex-direction: column;  
    }
    /**************login****************/
    .form_login{
        margin: 4em auto;
        padding: 1em;
    }
    label {
        font-size: 1.3em;
    }
    .d-block {
        margin: 1em;
        padding: 1em;
        width: 50%;
    }
    /***********register*************************/
    .form_register {
        margin: 4em auto;
        padding: 1em;
        width: 95%;
    }
    #registration_form_Valider {
      
        padding: 1em;
        width: 50%;
    }

    /*************profil*********************/
    .container-profil {
        width: 95%;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .edit_profil {
        width: 95%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .deal,.recent,.favorite,.bought {
        width: 95%;
    }
    .score {
        color: #0B2443;
        font-size: 4em;
        font-weight: 800;
    }
    .points {
        width: 100%;
        text-align: center;
    }
    .btn_edit_profil {
        margin: 1em auto;
    }

    /****************détail quiz****************/
    .title{
        margin-top: 2em;
    }
    #quiz-detail{
        width: 95%;
    }
    #quiz-detail ol{
        padding: 1em 0;
    }
    #quiz-detail ol li{
        padding: 0.5em 0;
    }
    .quiz-detail{
        text-align: center;
        width: 100%;
    }
    .box_question_reponse{
        margin: 1em auto;
        font-size: 1.3em;
    }

    #title_question_not_use{
        margin: 1em auto;
        width: 95%;
        text-align: center;
        padding: 1.3em;
        font-size: 1.2em;
        box-shadow: 0px 0px 10px 0px #666 inset;
        background-color: rgba(255,255,255,0.3);
        border-radius: 15px;
    }
    .title_question_not_use{
        color: #014F86;
        font-weight: bold;
    }
    .add_not_use{
        margin: 1em;
        cursor: pointer;
        border: 2px solid #0B2443;
        border-radius: 5px;
        color: black;
        padding: 3px;
        width: 200px;
        text-align: center;
    }
    #title_question_not_use li{
        padding: 1em;
    }

    /*************play quiz*****************/

    #quiz-container-play {
        position: absolute;
        top: 40%;
        left: 2.5%;
        padding: 1em;
        border-radius: 10px;
        background-color: #0B2443;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 95%;
        color: white;
        height: 900px;
        font-size: 2em;
        z-index: 99;
        justify-content: flex-start;
    }
    
    .title_play_quiz{
        text-transform: uppercase;
        text-align: center;
        color: #0c5283;
        padding: 3em 0 0.5em 0;
        font-weight: 700;
    }
    .nb_question{
        text-align: center;
    }
    #quiz-container{
        width: 95%;
    }
    #questions {
        text-align: center;
    }
    #message {
        width: 95%;
    }

    /************recap***************/

    .container_recap {
        width: 95%;
        margin: 2em auto;
        text-align: center;
        padding: 1.5em;
    }

    .title_recap{
        text-align: center;
    }
    .box_recap {
        
        margin: 0;
        
    }
}