*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/********************général***********************************/
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.add, .modify, .delete, .retirer, .detail{
    cursor: pointer;
    border: 2px solid #0B2443;
    border-radius: 5px;
    color: black;
    padding: 3px;
    width: 200px;
    text-align: center;
}
.add_quiz{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: white;
    background: #0B2443;
    border: 2px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.box{
    background-image: url(../img/pexels-aleksandar-pasaric-1323712.jpg);
    background-size: cover;
}

main{
    min-height: 65vh;
}

ul{
    list-style: none;
}
.h1{
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    color: #1C418C;
}
/*******************NAV*****************************************/
#nav{
    display: flex;
    height: 150px;
    flex-direction: row;
    align-items: center;
    width: 85%;
    margin: auto;
    border-bottom: 2px solid #1C418C;
    
}
#menuBtn{
    display: none;
}
.nav_base{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}
#logo{
    width: 150px;
    height: 120px;
    margin-bottom: 40px   
}

.logo{
    width: 150px;
    height: 120px;
}

.lien_nav{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
    font-weight: bold;
    border-right: 2px solid #1C418C;
    width: 12%;
    text-align: center;
}
.lien_nav:hover{
    font-size: 1em; 
}
/*****************************footer************************************/
footer{
    width: 85%;
    margin: auto;
    height: 200px;
    border-top: 2px solid #0B2443;
    padding: 2em;
}

.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.contact, .partenaire, .reseau-sociaux{
    display: flex;
    flex-direction: column;
}

.ul_footer {
    display: flex;
    gap: 1em;
    list-style: none;
    font-size: 1.5em;
}
.title_footer{
    color: #014F86;
}
/*****************************HOME**********************************/
h3{
    text-align: center;
}

.title_home{
    color: #1C418C;
    text-align: center;
}

#hero{
    width: 85%;
    padding: 3em;
    margin: 3em auto;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px #666 inset;
    background-color: rgba(255,255,255,0.3);
}
.hero-text{
    text-align: center;
    font-weight: bold;   
    border-radius: 15px;
}

strong{
    color: #014F86;
}
.hero-text h2{
    font-size: 3em;
    padding: 0.5em;
}

.hero-text p {
    padding: 0 1em;
    font-size: 2.5em;
}
a{
    text-decoration: none;
}
.article_home{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    font-weight: 500;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 10px 0px #666 inset;
    padding: 2em;
    margin: 3em auto;
}

.list_score{
    font-size: 2em;
    padding: 0.5em 2em; 
}
.link_register{
    font-size: 1.3em;
}
.h2_home{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    color: #014F86;
}
.h4_home{
    font-size: 1.5rem;
    font-weight: 700;
}
.three_score{
    font-weight: 700;
    font-size: 1.5em;
}
.p_home{
    font-weight: 700;
    font-size: 2em;
}
.span_score{
    padding-left: 2em;
}
.paralax{
      /* The image used */
  background-image: url("../img/pexels-christina-morillo-1181298.jpg");

  /* Set a specific height */
  min-height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/******************************* home slide swipper************************************************/
.section-slide{
    position: relative;
    display: flex;
    justify-content: center;   
}

.title-category{
    text-align: center;
    color: #014F86;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
    width: 95%;
    z-index: 10;
}
.box_quiz{
    width: 45%;
    padding-top: 1.2em;
}
.show_info{
    width: 36%;
    gap: 0.6em;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.info{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #1C418C;
}
.info-play{
    display: none;
}
.info p{
    color: #0B2443;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
}

.quiz-night{
    font-weight: bold;
    font-size: 1.1em;
    color: #014F86;
}

.play{
    text-align: center;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: white;
    background: #0B2443;
    border: 2px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.play:hover, .play:focus, .play:active, .play:visited{
    background: #0b244389;
    
}
.swiper-pagination{
    color: white;
}
.swiper{
    width: 300px;
    height: 500px;
    padding: 50px 0;
}

.swiper-slide{
    position: relative;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 15px;
    background: linear-gradient(to top, #0f2027, #203a43, #2c5364);   
}

.swiper-slide h2{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    font-weight: 700;
    font-size: 1.6em;
    line-height: 1.4;
    margin: 10px;
    padding: 15px;
}

.nav_category{
    margin: auto;
    display: flex;
    width: 90%;
    padding: 5em;
    justify-content: space-evenly;
    border-bottom: 2px solid #014F86 ;
}

.img_category_nav{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.img_category_nav:hover{
    width: 110px;
    height: 110px;
}

.fig_category_nav{
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.fig_caption_category{
    color: #014F86;
    font-weight: 700;
    text-align: center;
    font-size: 1.3em;
}
.fig_caption_category_card{
    color: white;
    text-align: center;
}

.img_card_category{
    width: 140px;
    height: 150px;
    border-radius: 50%;
}

.fig_card_category{
    margin: auto;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 40px;
    right: 30px;
  }


/*****************************Play Quiz************************************/
#quiz-container-play{
    position: absolute;
    top: 170px;
    left: 2.5%;
    padding: 15px;
    border-radius: 10px;
    background-color: #0B2443;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    color: white;
    height: 700px;
    justify-content: center;
    font-size: 2em;
    z-index: 99;
}

.formQuiz{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 800px;
}

#info_question{
    color: white;
    background-color: #0B2443;
    padding: 0.5em;
    border-radius: 10px;
    border: silver 4px solid;
    font-size: 1.5em;   
}

#quiz-container {
    border-radius: 15px;
    padding: 2em;
    min-height: 600px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B2443;
    color: white;
    border: 4px solid silver;
    
}

.quiz-container{
    border-radius: 15px;
    padding: 15px;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#questions{
    text-align: justify;
    font-weight: 700;
    padding-bottom: 0.5em;
}

#answer{
    width: 100%;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.label_answer{
    background: white;
    color: #0c5283;
    border-radius: 10px;
    padding: 0.3em;
    font-weight: 700;
    cursor: pointer; 
}

.label_answer:hover{
    filter: opacity(90%);
}

input[type="radio"] {
    margin: 10px;
}

#recap-container{
    display: none;
}

#valider{
    border-radius: 10px;
    padding: 0.6em;
    background: white;
    width: 200px;
    font-size: 1.5em;
    color: #0c5283;
    font-weight: 700;
    cursor: pointer;
    border: 3px solid silver;
    margin: 1.5em 0;
}

#valider:hover{ 
    border: 1px solid silver;
}

#message{
    width: 50%;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

/********************Recap**************************/
.container_recap{
    width: 70%;
    margin: 2em auto; 
    text-align: center;
    padding: 1.5em;
}

.detail_recap{
    font-weight: 700;
    text-align: center; 
    margin: auto;
    padding-bottom: 0.8em;
    font-size: 1.2em;
}

.success{
    color: green;
    font-size: 1.1em;
    
}

.error{
    font-size: 1.1em;
    color: red;
}

.link{
    color: #14afd6;
    font-weight: 700;
    font-size: 1.05em;
}
.box_recap{
    box-shadow: 0px 0px 10px 0px #666 inset;
    background-color: rgba(255,255,255,0.3);
    border-radius: 15px;
    margin: 1em;
    padding: 2em;
    font-size: 1.5em;
    text-align: center;
}
.recap_question_answer{
    box-shadow: 0px 0px 10px 0px #666 inset;
    background-color: rgba(255,255,255,0.3);
    border-radius: 15px;
    margin: 1em;
    padding: 1em;
    font-size: 1.2em;
}
.intitule_question{
    color: #0c5283;
    font-size: 1.2em;
    font-weight: 700; 
}

.p_score{
    text-align: center;
    margin: auto;
    padding-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    padding: 1em;
}

.category{
    list-style: none;
}
.li_category{
    padding: 10px;
    list-style: none;
}

.title{
    text-transform: uppercase;
    text-align: center;
    color: #0c5283;
    padding: 0.5em;
    font-weight: 700;
}
/**********************add quiz ********************************/
#questions-summary{
    position: fixed;
}
.row{
    justify-content: center;
}
#add-quiz{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.add-answer-another-collection-widget{
    text-decoration: none;
    padding: 5px;
    font-family: verdana;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #014F86;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 5px outset #FFFFFF;
    box-shadow: 3px 3px 12px #000000;
    -webkit-box-shadow: 3px 3px 12px #000000;
    -moz-box-shadow: 3px 3px 12px #000000;
    width: 200px;
}

.button{
    text-decoration: none;
    padding: 5px;
    font-family: verdana;
    font-size: 0.8em;
    color: #FFFFFF;
    background-color: #014F86;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 5px outset #FFFFFF;
    box-shadow: 3px 3px 12px #000000;
    -webkit-box-shadow: 3px 3px 12px #000000;
    -moz-box-shadow: 3px 3px 12px #000000;
    width: 200px;
}
.add-another-collection-widget:hover ,.add-answer-another-collection-widget:hover, .button:hover{
    padding: 5px;
    box-shadow: 0px 0px 3px #000000;
    -webkit-box-shadow: 0px 0px 3px #000000;
    -moz-box-shadow: 0px 0px 3px #000000;
}

/******************************Détail Quiz*************************************************/
#quiz-detail-container{
    width: 100%;
}

#quiz-detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.quiz-detail{
    margin: 2px;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.box_question_reponse{
    box-shadow: 0px 0px 10px 0px #666 inset;
    background-color: rgba(255,255,255,0.3);
    border-radius: 15px;
    margin: 1em;
    padding: 2em;
    font-size: 1.5em;
    font-weight: 600;
}
/***********************************Profil***********************************/

.container-profil {
    margin: 3em auto;
    display: flex;
    width: 80%;
    border: 1px solid #ebebeb;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topper {
    width: 100%;
    font-family: sans-serif;
    background: #014F86;
}
.title_profil{
    color: white;
    font-weight: 600;
    padding: 0.3em;
}
.edit_profil{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
}
.section_profil, .box_mail{   
    width: 40%;
    padding-top: 0.5em;
    padding-left: 1em;
}
.btn_edit_profil{
    margin: auto;
    border: #014F86 solid 3px;
    padding: 0.3em;
    border-radius: 0.8em;
    color: #0B2443;
    font-weight: bold;
}
.btn_edit_profil:hover, .btn_edit_quiz:hover{ 
    border: #014F86 solid 1px;
}
.btn_edit_quiz{
    border: #014F86 solid 3px;
    padding: 0.2em;
    border-radius: 0.8em;
    color: #0B2443;
    font-weight: bold;
    height: 2.8em;
}
.btn_edit_quiz:hover{ 
    border: #014F86 solid 1px;
}
.profil-info, .email{
    font-weight: bold;
    color: #0B2443;
}

.personal {
    width:55%;
}  

.box_mail {
    width: 100%;
    padding-top: 0.5em;
}

.points {
    width:55%; 
    text-align:center;
}

.score {
    color: #0B2443;
    font-size:8em;
    font-weight:800;
}
.info_score {
    font-weight:600;
    font-size:1.2em;
}
    
.deal {  
    width:33%;
}
.best_score{
    font-weight:600;
    color:#fff;
    background-color:#014F86;
    padding:10px 5px;
}
.section_create{
    display: flex;
    padding: 0 0.6em;
    flex-direction: row;
    justify-content: space-between;
}
.favorite{
    width: 32%;
} 
.recent{
    width:33%;
}
.bought{
    width: 80%;
    margin: auto;
}
.recent_acti, .create_quiz {
    color:#fff;
    background-color:#014F86;
    padding:10px 5px;
}
        
.game_quiz, .profil_quiz_info {
    display:block;
    padding:10px 0;
    padding-left:5px;
    font-size: 1.2em;
    font-weight: 500;
}
.game_score {
    float:right; 
    margin-right:2px;
}
.list_profil{
    padding-left: 0.2em;
    color: #0B2443;
    font-weight: 500;
}
     
    /*************************form register****************************/
.form_register{
    display: flex;
    margin: 2em auto;
    padding: 3em;
    width: 95%;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 10px 0px #666 inset;
    flex-direction: column;
    flex-wrap: wrap;
}
#registration_form_Valider{
    margin-top: 1em;
}
.connection{
    text-align: center;
}
.form_register h2{
    padding-bottom: 1.5em;
    text-align: center;
}
    /*************************form login****************************/

.form_login{
    display: flex;
    margin: 2em auto;
    padding: 3em;
    width: 95%;
    border-radius: 25px;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 0px 10px 0px #666 inset;
    flex-direction: column;
    flex-wrap: wrap;
}
#registration_form_Valider{
    margin-top: 1em;
}
.connection{
    text-align: center;
}
.form_login h2{
    padding-bottom: 1.5em;
    text-align: center;
}

/**********Admin***************/
.admin-theme{
    width: 80%;
    margin: auto; 
}

thead th,thead td{
    color: #DF9409;
}
th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    padding-left: 5px;
}
th, td {
    color: white;
    width: 3%;
    background-color: #0b2443b8;
    text-align: center;
}
.box_theme{
    margin: auto;
    width: 95%;
    padding: 2em;
    display: flex;
    flex-direction: row;
}

.admin_category, .admin_theme, .admin_quiz, .admin_list_user{
    border: 2px solid #0B2443;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
}
.ul_action{
    list-style: none;
}
.li_action{
    padding: 0.8em;
}
/******************** searchBar ********************/
#searchBar form {
    position: relative;
}

#searchInput { /* input type search */
    width: 350px;
    height: 40px;
    padding-left: 11px;
    font-size: 1.2em;
    border: 2px solid #0B2443;
    border-radius: 10px;

    transition: 0.1s;
}

#searchBar{
    padding: 10px;
}

#searchInput:focus-visible { /* input type search */
    border-bottom-right-radius: 0;
    transition: 0.1s;
}

#searchInput:focus-visible {
    outline: none;
}

#textHint { /* div */
    color: #0B2443;
}

#textHint a {
    text-decoration: none;
}
#textHint a:hover{
   color: grey;
}

.categroy_search{
    font-weight: bold;
}
.dropDownMenuHint {
    width: calc(100% + 1px);
    height: fit-content;
    max-height: calc(60px*10); /*60px car c'est la hauteur d'un item dans le menu  */
    padding: 0 10px ;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #0B2443;
    position: absolute;
    left: 0;
    overflow-y:scroll;
    scrollbar-width: thin;
    z-index: 99;
}

.dropDownMenuHint a p {
    margin: 10px 0;
}
  

