*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/********************général***********************************/
.add, .modify, .delete, .retirer{
    cursor: pointer;
    border: 2px solid #0B2443;
    border-radius: 5px;
    color: black;
    padding: 3px;
    width: 200px;
    text-align: center;
}

/* .modify{
    cursor: pointer;
    border: 2px solid #0B2443;
    border-radius: 5px;
    color: black;
    padding: 3px;
    width: 200px;
}

.delete{
    cursor: pointer;
    border: 2px solid #0B2443;
    border-radius: 5px;
    color: black;
    padding: 3px;
    width: 200px;
}

.retirer{
    cursor: pointer;
    border: 2px solid #0B2443;
    border-radius: 5px;
    color: black;
    padding: 3px;
    width: 200px;
} */
/*******************NAV*****************************************/
#nav{
    display: flex;
    height: 150px;
    background-color: #0B2443;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
h1{
    text-align: center;
    padding: 10px;
}
#logo{
    width: 150px;
    height: 150px;
}
.logo{
    width: 150px;
    height: 150px;
}

/*****************************footer************************************/
footer{
    width: 100%;
    background-color: #0B2443;
}
.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.contatc{
    display: flex;
    flex-direction: column;
}

.partenanire{

}

.reseau-sociaux{

}
/*****************************accueil**********************************/
h1{
    font-weight: bold;
}
h3{
    text-align: center;
}
#hero{
    margin-top: 10px;
    width: 1320px;
    height: 500px;
    background-image: url(../img/quiz_quest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.hero-text{
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    align-items: center;
    padding: 12px 0px;
    width: 80%;
    flex-direction: column;
    padding-left: 12px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}

a{
    text-decoration: none;
}

#list-theme{
    width: 90%;
    display: flex;
    flex-direction: row;
}
.list-theme{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.slide{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 70px;
    display: flex;
}
.swiper {
    width: 150px;
    height: 100px;
}
/*****************************Quiz************************************/
.formQuiz{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}
#quiz-container {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: rgb(11, 11, 11);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;

    /* Ajouter un fond légèrement blanc avec une opacité de 20% */
    background-color: rgba(255, 255, 255, 0.2);
}

#quiz-container-play{
    position: absolute;
    top: 170px;
    left: 25%;
    padding: 15px;
    border-radius: 10px;
    background-color: #0B2443;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: white;
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.quiz-container{
    border-radius: 15px;
    padding: 15px;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}

#recap-container{
    display: none;
}

#answer{
    padding: 10px;
    font-size: 1.5em;
}

#valider{
    border-radius: 10px;
    padding: 7.5px;
    background: white;
}

.success{
    color: green;
}
.error{
    color: red;
}

.level{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}
.quizList{
    flex-direction: column;
    display: flex;
}
.level1 {
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-color: #33932E; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.level2{
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-color: #DF9409;
    flex-direction: column;
    align-items: center;
}

.level3{
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-color: #92140C;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.category{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


/******************************Détail Quiz*************************************************/
#quiz-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#quiz-detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 80%;
}

.quiz-detail{
    display: flex;
    margin: 2px;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.quiz-detail-reponse{

}