*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/********************général***********************************/
.add, .modify, .delete, .retirer, .detail{
    cursor: pointer;
    border: 2px solid #0B2443;
    border-radius: 5px;
    color: black;
    padding: 3px;
    width: 200px;
    text-align: center;
}


/*******************NAV*****************************************/
#nav{
    display: flex;
    height: 150px;
    background: linear-gradient(0deg, #010000ff, #060DF4ff, #13264Bff, #0A249Bff, #0D1D6Fff);
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.img_nav{
    height: 80px;
    width: 80px;
}
.fig_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    padding: 10px;
}
#logo{
    width: 200px;
    height: 115px;
    margin-left: 10px;
}
.logo{
    width: 200px;
    height: 115px;
}

/*****************************footer************************************/
footer{
    width: 100%;
    background-color: #0B2443;
}
.footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.contatc{
    display: flex;
    flex-direction: column;
}

/*****************************accueil**********************************/
h1{
    font-weight: bold;
}
h3{
    text-align: center;
}
h2{
    text-align: center;
}
#hero{
    margin-top: 10px;
    width: 1320px;
    height: 500px;
    background-image: url(../img/home_hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.hero-text{
    position: absolute;
    top: 5%;
    left: 10%;
    display: flex;
    align-items: center;
    padding: 12px 0px;
    width: 80%;
    flex-direction: column;
    padding-left: 12px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.4);
}

a{
    color: black;
    text-decoration: none;
}

.lien_nav{
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.lien_nav:hover{
    background-color: grey;
}

#list-theme{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.list-theme{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.slide{
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 70px;
    display: flex;
}
.swiper {
    width: 150px;
    height: 100px;
}
.slide-quiz{
    height: 500px;
    width: 400px;
    display: flex;
    background-color: #0B2443;
    flex-direction: column;
    align-items: center;
    color: white;
}
.swiper-quiz {
    width: 400px;
    height: 500px;
}
/*****************************Quiz************************************/
.formQuiz{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-bottom: 30px;
}
#quiz-container {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: rgb(11, 11, 11);
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-evenly;

    /* Ajouter un fond légèrement blanc avec une opacité de 20% */
    background-color: rgba(255, 255, 255, 0.2);
}

#quiz-container-play{
    position: absolute;
    top: 170px;
    left: 25%;
    padding: 15px;
    border-radius: 10px;
    background-color: #0B2443;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    color: white;
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.quiz-container{
    border-radius: 15px;
    padding: 15px;
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.4);
}

#recap-container{
    display: none;
}

#answer{
    padding: 10px;
    font-size: 1.5em;
}

#valider{
    border-radius: 10px;
    padding: 7.5px;
    background: white;
}

.success{
    color: green;
}
.error{
    color: red;
}

.level{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
}
.quizList{
    flex-direction: column;
    display: flex;
}
.level1 {
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-color: #33932E; 
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.level2{
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-color: #DF9409;
    flex-direction: column;
    align-items: center;
}

.level3{
    border-radius: 15px;
    width: 400px;
    height: 500px;
    background-color: #92140C;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}

.category{
    list-style: none;
}
.li_category{
    padding: 10px;
    list-style: none;
}
/**********************add quiz ********************************/
#questions-summary{
    position: fixed;
}
.row{
    justify-content: center;
}


#add-quiz{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.add-answer-another-collection-widget{
    text-decoration: none;
    padding: 5px;
    font-family: verdana;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #014F86;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 5px outset #FFFFFF;
    box-shadow: 3px 3px 12px #000000;
    -webkit-box-shadow: 3px 3px 12px #000000;
    -moz-box-shadow: 3px 3px 12px #000000;
    width: 200px;
}

.button{
    text-decoration: none;
    padding: 5px;
    font-family: verdana;
    font-size: 0.8em;
    color: #FFFFFF;
    background-color: #014F86;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border: 5px outset #FFFFFF;
    box-shadow: 3px 3px 12px #000000;
    -webkit-box-shadow: 3px 3px 12px #000000;
    -moz-box-shadow: 3px 3px 12px #000000;
    width: 200px;
}
.add-another-collection-widget:hover ,.add-answer-another-collection-widget:hover, .button:hover{
    padding: 5px;
    box-shadow: 0px 0px 3px #000000;
    -webkit-box-shadow: 0px 0px 3px #000000;
    -moz-box-shadow: 0px 0px 3px #000000;
}

/******************************Détail Quiz*************************************************/
#quiz-detail-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#quiz-detail{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 80%;
}

.quiz-detail{
    display: flex;
    margin: 2px;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
/***********************************Profil***********************************/
#img_profil{
    height: 100px;
    width: 100px;
}
.img_profil{
    height: 100px;
    width: 100px;
}
#container-profil{
    position: relative;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    height: 600px;
    padding-left: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
#section_profil{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
#quiz_profil{
    width: 45%; 
}
#forum_profil{
    width: 45%;
}
.table-score{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: rgba(255, 255, 255);
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
}
thead th,thead td{
    color: #DF9409;
}
#table_score, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    padding-left: 5px;
}
th, td {
    color: white;
    width: 3%;
    background-color: #0b2443b8;
    text-align: center;
}
#list-quiz{
    font-weight: bold;
    list-style: none;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 10%;
    left: 25%;
    background-color: rgba(255, 255, 255);
    border: 2px solid black;
    padding: 15px;
    border-radius: 10px;
}
.profil-info{
    font-weight: bold;
}

/****************************************************/
.quiz_home_card {  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 24em;
    height: 30em;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    border: 2px black solid;
    background-size: 90% 70%;
}
.category_home{
    gap: 0.5em;
    display: flex;
    flex-direction: row;

}

.card_info {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0%;
    display: flex;
    align-items: center;
    padding: 12px 0px;
    width: 100%;
    flex-direction: column;
    padding-left: 12px;
    color: rgb(5, 5, 5);
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgba(128, 128, 128, 0.373);
    z-index: 1; /* Ajout de z-index pour placer le texte au-dessus de l'image */
}

/* Animation pour les titres */
.quiz_title, .card_info {
    opacity: 0; /* Titre initialement transparent */
    transform: translateY(-50px); /* Titre initialement déplacé vers le haut */
    animation: fadeInUp 2s ease forwards; /* Animation fadeInUp pendant 1 seconde */
}

/* Animation keyframe */
@keyframes fadeInUp {
    to {
        opacity: 1; /* Opacité complète à la fin de l'animation */
        transform: translateY(0); /* Aucun déplacement à la fin de l'animation */
    }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: darkblue;
  background: rgba(255, 255, 255, 0.536);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  z-index: 99;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/******************** searchBar ********************/


#searchBar form {
    position: relative;
}

#searchInput { /* input type search */
    width: 350px;
    height: 40px;
    padding-left: 11px;
    font-size: 1.2em;
    border: 0;
    border-radius: 10px;

    transition: 0.1s;
}


#searchInput:focus-visible { /* input type search */
    border-bottom-right-radius: 0;
    transition: 0.1s;
}

#searchInput:focus-visible {
    outline: none;
}

#textHint { /* div */
    color: black;
}

#textHint a {
    text-decoration: none;
}
#textHint a:hover{
   color: grey;
}

.categroy_search{
    font-weight: bold;
}
.dropDownMenuHint {
    width: calc(100% + 1px);
    height: fit-content;
    max-height: calc(60px*10); /*60px car c'est la hauteur d'un item dans le menu  */
    padding: 0 10px ;

    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    
    position: absolute;
    left: 0;
    overflow-y:scroll;
    scrollbar-width: thin;
    z-index: 99;
}

.dropDownMenuHint a p {
    margin: 10px 0;
}
  