{% extends 'base.html.twig' %}

{% block title %}Liste des themes!{% endblock %}

{% block body %}
<a class="add" href="{{path('new_theme')}}">Ajouter un theme</a>
    {% for theme in themes %}
        <li>
            {{ theme }}
            <a class="modify" href="{{path('edit_theme', {'id': theme.id})}}">Modifier un theme</a>
        </li>
    {% endfor %}
{% endblock %}
