


<table id="table_score">
    <thead>
        <tr>
            <td>Quiz</td>
            <td>Difficulter</td>
            <td>Score obtenue</td>
        </tr>
    </thead>
    <tbody>
        {% for gameUser in gamesUser %}
        
            <tr>
                <td>{{ gameUser.quiz.title }}</td>
                <td>{{ gameUser.quiz.level }}</td>
                <td> {{ gameUser.score }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
